<div id="main-container">
  <div class="btn-group select select-block">
    <button class="btn dropdown-toggle clearfix btn-primary" data-toggle="dropdown">
      <span class="filter-option pull-left">
        울산과학기술대학교
      </span>
      &nbsp;
      <span class="caret">
      </span>
    </button>
    <span class="dropdown-arrow dropdown-arrow-inverse">
    </span>
    <ul class="dropdown-menu dropdown-inverse" role="menu" style="overflow-y: auto; min-height: 108px; max-height: 353.5999755859375px;">
      <li rel="0" class="selected">
        <a tabindex="-1" href="#" class="">
          <span class="pull-left">
            울산과학기술대학교
          </span>
        </a>
      </li>
      <li rel="1">
        <a tabindex="-1" href="#" class="">
          <span class="pull-left">
            KTX 울산역
          </span>
        </a>
      </li>
      <li rel="2">
        <a tabindex="-1" href="#" class="">
          <span class="pull-left">
            범서삼거리
          </span>
        </a>
      </li>
      <li rel="3">
        <a tabindex="-1" href="#" class="">
          <span class="pull-left">
            구영리
          </span>
        </a>
      </li>
      <li rel="4">
        <a tabindex="-1" href="#" class="">
          <span class="pull-left">
            울산대
          </span>
        </a>
      </li>
      <li rel="5">
        <a tabindex="-1" href="#" class="">
          <span class="pull-left">
            공업탑
          </span>
        </a>
      </li>
      <li rel="6">
        <a tabindex="-1" href="#" class="">
          <span class="pull-left">
            시외고속버스터미널
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div id="main-bus">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="bus-div">
          <div class="bus-header">
            <h5>
              133
            </h5>
          </div>
          <div class="bus-time pull-right">
            <div class="bus-time-div">
              <p class="bus-text list-group-item-text text-right">
                <small>[13:58] 기점 출발 예정</small>
              </p>
            </div>
            <div class="bus-time-div">
              <p class="bus-text list-group-item-text text-right">
                <small><span>[14:22] 기점 출발 예정</span></small>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="bus-div">
          <div class="bus-header">
            <h5>
              233
            </h5>
          </div>
          <div class="bus-time pull-right">
            <div class="bus-time-div">
              <p class="bus-text list-group-item-text text-right">
                <small>[13:58] 기점 출발 예정</small>
              </p>
            </div>
            <div class="bus-time-div">
              <p class="bus-text list-group-item-text text-right">
                <small><span>[14:22] 기점 출발 예정</span></small>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="bus-div">
          <div class="bus-header">
            <h5>
              337
            </h5>
          </div>
          <div class="bus-time pull-right">
            <div class="bus-time-div">
              <p class="bus-text list-group-item-text text-right">
                <small>[13:58] 기점 출발 예정</small>
              </p>
            </div>
            <div class="bus-time-div">
              <p class="bus-text list-group-item-text text-right">
                <small><span>[14:22] 기점 출발 예정</span></small>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="bus-div">
          <div class="bus-header">
            <h5>
              733
            </h5>
          </div>
          <div class="bus-time pull-right">
            <div class="bus-time-div">
              <p class="bus-text list-group-item-text text-right">
                <small>[13:58] 기점 출발 예정</small>
              </p>
            </div>
            <div class="bus-time-div">
              <p class="bus-text list-group-item-text text-right">
                <small><span>[14:22] 기점 출발 예정</span></small>
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!--<div class="bus-table btn-toolbar">
    <div class="bus-table-header text-center">
      <small>버스 시간표</small>
    </div>
    <div class="btn-group">
      <a class="btn btn-success" href="#fakelink">일</a>
      <a class="btn btn-primary" href="#fakelink">월</a>
      <a class="btn btn-primary active" href="#fakelink">화</a>
      <a class="btn btn-primary" href="#fakelink">수</a>
      <a class="btn btn-primary" href="#fakelink">목</a>
      <a class="btn btn-primary" href="#fakelink">금</a>
      <a class="btn btn-success" href="#fakelink">토</a>
    </div>
    <div class="text-center">
      <span class="caret-down"></span> 
    </div>
  </div>-->
</div>