/* General */

html {
	/*overflow-y: hidden;*/
}

body {
	min-height: 413px;
	font-family: 'Nanum Gothic', Arial, sans-serif;
}

#main-container {
	width: 230px;
	font-size: 12px;
}

#main-bus {

}

/* Flat-UI fix */
.icons {
  top: -1px !important;
}
.icons span {
  top: -1px !important;
}

.select {
	margin-bottom: 0px !important;
}
.dropdown-arrow {
	margin-top: 12px !important;
}

.icons, .checkbox {
	display: inline !important;
	font-size: 13px !important;
	padding-left: 18px !important;
}

.school-to-box {
	margin-left:15px !important;
}

/* Bootstrap Fix */

.list-group {
	margin-bottom: 0px !important;
}

/* Bus */

p.bus-tag {
	margin: 10px 0px 0px 0px;
	font-size: 4px;
	line-height: 0;
}

.tag {
	border-radius: 4px;
	background-color: #5dade2;
	color: #ffffff;
	font-size: 10px;
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
	overflow: hidden;
	line-height: 15px;
	padding: 2px 4px 2px 4px;
	position: relative;
	vertical-align: middle;
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
}

.bus-div {
	overflow: auto;
	min-height: 20px; 
}

.bus-header {
	position: absolute;
	top: 0px;
}

.bus-time {
}

.bus-time-div {
	position: relative;
}

.bus-text {
	display: block;
	font-size: 13px;
}

p.bus-text span, {
	color: #bdc3c7;
}

.footer {
	margin-top: 8px;
	line-height: 13px;
}

.footer span {
	font-size: 13px;
}

.UNIST-bus {
	margin-right: 7px;
}

.carpedm20 {
	font-size: 4px;
	margin-bottom: 0px;
	color: #bdc3c7;
	margin-right: 13px;
}

.list-group-item {
    padding: 10px 10px !important;
}

.help {
  /*size: 20px;
  margin-top: 5px;
  margin-bottom: 3px;*/
}

.help:hover {
	cursor: pointer;
}

.bus-text-label {
	display: block;
	position: absolute;
	top: 4px;
	font-size: 13px;
	line-height: 13px;
	color: #c0c1c2;
	font-weight: 400;
}

.bus-table {
	margin-bottom: 5px;
}

.bus-table .btn {
	padding: 5px 10px !important;
}

.twipsy-inner {
	margin-left: 40px !important;
	margin-top: 1px !important;
}

/* bootstrap-twipsy */

.twipsy {
  position: absolute;
  z-index: 1000;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}
.twipsy.in {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.twipsy.top {
  margin-top: -2px;
}
.twipsy.right {
  margin-left: 2px;
}
.twipsy.bottom {
  margin-top: 2px;
}
.twipsy.left {
  margin-left: -2px;
}
.twipsy.top .twipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.twipsy.top-right .twipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  right: auto;
  left: 15px;
}
.twipsy.top-left .twipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  left: auto;
  right: 15px;
}
.twipsy.left .twipsy-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
.twipsy.left-bottom .twipsy-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
  bottom: auto;
  top: 15px;
}
.twipsy.left-top .twipsy-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
  top: auto;
  bottom: 15px;
}
.twipsy.bottom .twipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.twipsy.bottom-right .twipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
  right: auto;
  left: 15px;
}
.twipsy.bottom-left .twipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
  left: auto;
  right: 15px;
}
.twipsy.right .twipsy-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
.twipsy.right-bottom .twipsy-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
  bottom: auto;
  top: 15px;
}
.twipsy.right-top .twipsy-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
  top: auto;
  bottom: 15px;
}
.twipsy-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.twipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
}